.container-fluid{
    background-color: #083b4c;
}

.square{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #1389b2;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
}   

.fizz{
    background-color: #0cd6a1;
}

.buzz{
    background-color: #ffd166;
}

.fizzbuzz{
    background-color: #f0466f;
}